*~
_*
kernel/*.o
kernel/*.d
kernel/*.asm
kernel/*.sym
user/*.o
user/*.d
user/*.asm
user/*.sym
*.img
kernel/vectors.S
kernel/bootblock
kernel/entryother
kernel/initcode
kernel/initcode.out
kernel/kernel
kernel/kernelmemfs
mkfs/mkfs
.gdbinit
tags
core
cscope.out
cscope.in.out
cscope.po.out
